* {
    margin: 0;
    padding: 0; 
    /* border: red solid 1px; */
}



/****FUENTES****/

@font-face {
    font-family: neue;
    src: url(neue.ttf);
}


@font-face {
    font-family: freight;
    src: url(freight.otf);
 }

 .subrayadoSeccion{
    text-decoration: line-through;
}



/****BODY****/

body {
    font-family: neue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /*ACA HICE EL CAMBIO Q ME DESACOMODO EL FOOTER*/
  }



/****HOME****/

.nombreInicio {
    font-family: freight;
    font-size: 3rem;
    margin-right: 30px;
}


.imagenInicio {
    background-image: url(../img/imagen-inicio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}


.contenedorVacio {
    flex: 1;
}


/****CONTROL MUSICA****/


.controlPadre {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/****CATEGORIAS NAVBAR****/

.categoriaItem {
    padding-right: 16px;
    padding-left: 14px;
    border-left: rgb(58, 58, 58) solid 1px;
}


.menuNav {
    margin-left: 20px;
}


.menuNav a{
    font-size: 1.4rem;    
    color: rgb(58, 58, 58);
}


.menuNav a:hover {
    color: black; 
}



/****REDES SOCIALES****/

.socialesNav a {
    font-size: 1rem; 
    color: rgb(58, 58, 58);
} 


.socialesNav a:hover {
    color: black;
}


.socialesNav a:focus {
    color: black;
}


.socialItem {
    padding-top: 10px;
    padding-bottom: 10px;
}



/****INFO****/

.contenedorInfo {
    max-width: 85%;
}


.textoInfo {
    font-size: 22px;
    line-height: 1.8;
    text-align: justify;
}

.fondoInfo {
    background: linear-gradient(to bottom, #64C2F9, #a9e0fc) ;
}



/****OBRAS****/

.btnEscuchar {
    background-color:rgb(138, 64, 161);
    color: white;
    margin-top: 10px;
    text-align: left;
}


.btnEscuchar:hover {
    background-color: #B59ECA;
    color: black;
}


.cardEdicion {
    border: none;
}


.fondoObras {
    background: linear-gradient(to bottom, #B29DC5, #DDDDFF) ;
}


.contenedorObras {
    width: 80%;
}


h4 {
    text-transform: bold;
}


/****FOOTER****/

footer {
    border-top: 1px solid rgb(58, 58, 58);
    width: 100%;
}


footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0;
}



/****MEDIA QUERIES****/

/*Control audio*/

@media (max-width:1120px) {
    audio {
        transform: scale(0.75);
    }
}


/*Tamaño fuentes*/

@media (max-width:1120px) {

    .menuNav a {
        font-size: 1.1rem;
    }

    .nombreInicio {
        font-size: 2rem;
    }
}


@media (min-width:1000px)   {
    
    .textoInfo {
        font-size: 21px;
    }
}


@media (min-width:960px) and (max-width:1000px)  {
    
    .textoInfo {
        font-size: 20px;
    }
    
}

@media (min-width:920px) and (max-width:960px)  {
    
    .textoInfo {
        font-size: 19px;
    }
}


@media (min-width:875px) and (max-width:920px)  {
    
    .textoInfo {
        font-size: 18px;
    }
}


@media (max-width:875px) {
    
    .textoInfo {
        line-height: 1.5;
        font-size: 18px;
    }
}

@media (max-width:1300px) {
    h4 {
        font-size: 20px;
    }
}


/*Ajustes contenedores*/

@media (max-width:767px)  {

    .contenedorInfo {
        max-width: 75%;
    }
}


@media (max-width:1200px) {
    .contenedorObras {
        width: 60%;
        margin: 0;
    }
}


