@charset "UTF-8";
/****FUENTES****/
@font-face {
  font-family: neue;
  src: url(neue.ttf);
}
@font-face {
  font-family: freight;
  src: url(freight.otf);
}
* {
  margin: 0;
  padding: 0;
  /* border: red solid 1px; */
}

/****BODY****/
body {
  font-family: neue;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /*ACA HICE EL CAMBIO Q ME DESACOMODO EL FOOTER*/
}

/****HEADER - CATEGORIAS NAVBAR****/
@keyframes rocio {
  0% {
    color: #000000;
  }
  25% {
    color: #3b71c8;
  }
  50% {
    color: #000000;
  }
  75% {
    color: #aa66c5;
  }
  100% {
    color: rgb(0, 0, 0);
  }
}
header {
  margin-top: 8px;
}

.nombreInicio {
  font-family: freight;
  font-size: 3rem;
  margin-right: 40px;
  margin-left: 10px;
  animation-name: rocio;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.categoriaItem {
  padding-right: 16px;
  padding-left: 14px;
  border-left: rgb(58, 58, 58) solid 1px;
}

.menuNav {
  margin-left: 50px;
}
.menuNav a {
  font-size: 1.4rem;
  color: rgb(58, 58, 58);
  transition: all 0.3s;
}
.menuNav a:hover {
  color: black;
  scale: 1.06;
}

.subrayadoSeccion {
  text-decoration: line-through;
}

/****REDES SOCIALES****/
.socialesNav a {
  font-size: 1rem;
  color: rgb(58, 58, 58);
  transition: all 0.3s;
}
.socialesNav a:hover {
  color: black;
  scale: 1.1;
}

.socialItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

/****OBRAS****/
.btnEscuchar {
  background-color: #5891fa;
  color: white;
  margin-top: 10px;
  text-align: left;
  transition: all 0.3s;
}
.btnEscuchar:hover {
  background-color: #a1c0f9;
  color: black;
  scale: 1.1;
}

.cardEdicion {
  border: none;
  max-width: 260px;
  min-width: 210px;
  margin: auto;
}

.fondoObras {
  background: linear-gradient(to bottom, #82acfa, #b8cffa);
}

/****INFO****/
.fondoInfo {
  background: linear-gradient(to bottom, #6bbae8, #bae6fc);
}

.contenedorInfo {
  max-width: 85%;
  padding-top: 9px;
}

.textoInfo {
  font-size: 22px;
  line-height: 1.8;
  text-align: justify;
}

.fondoDisenoSonoro {
  background: linear-gradient(to bottom, #B29DC5, #DDDDFF);
}

.btnEscucharDS {
  background-color: rgb(147, 84, 166);
  color: white;
  margin-top: 10px;
  text-align: left;
  transition: all 0.3s;
}
.btnEscucharDS:hover {
  background-color: #c4afd8;
  color: black;
  scale: 1.1;
}

h2, h3, h4 {
  padding-top: 2px;
  padding-bottom: 2px;
}

/****HOME****/
.imagenInicio {
  background-image: url(../img/imagen-inicio.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

.contenedorVacio {
  flex: 1;
}

.fondoClases {
  background: linear-gradient(to bottom, #a79add, #d5cfec);
}

.fondoContacto {
  background: linear-gradient(to bottom, #78cee3, #baeefc);
}

.btnEnviar {
  background-color: rgb(100, 200, 227);
  color: white;
  text-align: left;
  transition: all 0.3s;
}
.btnEnviar:hover {
  background-color: rgb(152, 224, 248);
  color: black;
  scale: 1.1;
}

/****FOOTER****/
.contenedorFooter {
  border-top: 1px rgb(58, 58, 58) solid;
}

/****MEDIA QUERIES****/
/*Control audio*/
@media (max-width: 1120px) {
  audio {
    transform: scale(0.75);
  }
}
/*Tamaño fuentes*/
@media (max-width: 1120px) {
  .menuNav a {
    font-size: 1.1rem;
  }
  .nombreInicio {
    font-size: 2rem;
  }
}
@media (min-width: 1000px) {
  .textoInfo {
    font-size: 21px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .textoInfo {
    font-size: 20px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .textoInfo {
    line-height: 1.6;
    font-size: 19px;
  }
}
@media (max-width: 800px) {
  .textoInfo {
    line-height: 1.5;
    font-size: 18px;
  }
}
/*Ajustes contenedores*/
@media (max-width: 768px) {
  .contenedorInfo {
    max-width: 400px;
    min-width: 250px;
  }
}
@media (min-width: 1200px) {
  .contenedorInfo {
    padding-bottom: 7px;
  }
  .contenedorClases {
    padding-bottom: 15px;
    padding-top: 6px;
  }
  .contenedorDS {
    padding-top: 9px;
    padding-bottom: 8px;
  }
  .contenedorContacto {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contenedorObras {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
/*Ajustes imagenes*/
@media (max-width: 1120px) {
  .imagenClase, .imagenSeminario {
    transform: scale(0.9, 0.9);
  }
}
@media (max-width: 360px) {
  .imagenClase, .imagenSeminario {
    transform: scale(0.8, 0.8);
  }
}

/*# sourceMappingURL=estilo.css.map */
