
* {
    margin: 0;
    padding: 0; 
    /* border: red solid 1px; */
}


/****BODY****/

body {
    font-family: neue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /*ACA HICE EL CAMBIO Q ME DESACOMODO EL FOOTER*/
  }


