/****INFO****/

.fondoInfo {
    background: linear-gradient(to bottom, #6bbae8, #bae6fc) ;
}

.contenedorInfo {
    max-width: 85%;
    padding-top: 9px;
}


.textoInfo {
    font-size: 22px;
    line-height: 1.8;
    text-align: justify;
}



