$color-fuentes: rgb(58, 58, 58);
$color-fuentes-sec: black;
$color-botones1:  rgb(147, 84, 166);
$color-botones-sec1: #c4afd8;
$color-botones2: #5891fa;
$color-botones-sec2: #a1c0f9;
$color-botones3: rgb(100, 200, 227);
$color-botones-sec3: rgb(152, 224, 248);